<div class="header">
  <ul class="nav nav-pills header-nav">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/signup">Singup</a>
    </li>
  </ul>
</div>
<style>
  .header {
    height: 20vh;
    font-size: 30px;
    display: flex;
    justify-content: center
  }
  .header-nav{
    width: 50vw;
    display:flex;
    justify-content: space-around
  }
</style>