<div class="signup">
  <div class="signup-content">
    {{#if errors}}
    {{#each errors}}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
          aria-hidden="true">&times;</span>
      </button>
      {{param}} : {{msg}}
    </div>
    {{/each}}
    {{/if}}
    {{>form-signup}}
  </div>
</div>

<style>
  .signup{
    display: flex;
    justify-content: center
  }
  .signup-content{
    width: 50%;
    padding: 5%;
    border: 2px solid grey
  }
</style>